Subject: {{ subject }}
Hi {{ candidate_name }},

Just following up to see if you had a chance to look at my previous note. 
Happy to schedule a quick call this week.

Best regards,
{{ customer_name }}
{{ customer_title }} | {{ customer_company }}
